{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">

    <title>Удаление направления – TravelWay</title>

    <link rel="stylesheet" href="{% static 'planner/style.css' %}">
</head>

<body>

<header>

    <div class="container">

        <a href="{% url 'home' %}" class="logo">
            ✈️ TravelWay
        </a>

    </div>

</header>


<main class="container">

    <div class="form-container">

        <h1>Удаление направления</h1>

        <p>
            Ты действительно хочешь удалить направление
            <strong>
                {{ destination.country }}, {{ destination.city }}
            </strong>?
        </p>

        <p>
            Все места, связанные с этим направлением,
            также будут удалены.
        </p>


        <form method="post">

            {% csrf_token %}

            <button type="submit" class="btn btn-danger">
                Удалить
            </button>

            <a
                href="{% url 'trip_detail' destination.trip.id %}"
                class="btn btn-secondary"
            >
                Отмена
            </a>

        </form>

    </div>

</main>

</body>

</html>