{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">

    <title>Новый пароль – TravelWay</title>

    <link rel="stylesheet" href="{% static 'planner/style.css' %}">
</head>

<body>

<header>

    <div class="container">

        <a href="{% url 'home' %}" class="logo">
            ✈️ TravelWay
        </a>

    </div>

</header>


<main class="container">

    <div class="form-container">

        {% if validlink %}

            <h1>Новый пароль 🔑</h1>

            <p>
                Введите новый пароль для вашего аккаунта.
            </p>


            <form method="post">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn">
                    Сохранить новый пароль
                </button>

            </form>

        {% else %}

            <h1>Ссылка недействительна</h1>

            <p>
                Ссылка для восстановления пароля устарела
                или уже была использована.
            </p>

            <a
                href="{% url 'password_reset' %}"
                class="btn"
            >
                Запросить новую ссылку
            </a>

        {% endif %}

    </div>

</main>

</body>

</html>
